[submodule "external/dav1d"]
	path = external/dav1d
	url = https://code.videolan.org/videolan/dav1d.git
[submodule "external/libavif-container"]
	path = external/libavif-container
	url = https://github.com/link-u/libavif-container.git
[submodule "external/libyuv"]
	path = external/libyuv
	url = https://chromium.googlesource.com/libyuv/libyuv
[submodule "external/libpng"]
	path = external/libpng
	url = git://git.code.sf.net/p/libpng/code
[submodule "external/zlib"]
	path = external/zlib
	url = https://github.com/madler/zlib.git
	ignore = dirty
[submodule "external/clipp"]
	path = external/clipp
	url = https://github.com/muellan/clipp.git
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "external/Little-CMS"]
	path = external/Little-CMS
	url = https://github.com/mm2/Little-CMS.git
