[submodule "external/dav1d"]
	path = external/dav1d
	url = https://code.videolan.org/videolan/dav1d.git
[submodule "external/libavif-container"]
	path = external/libavif-container
	url = https://github.com/link-u/libavif-container.git
[submodule "external/libpng"]
	path = external/libpng
	url = https://git.code.sf.net/p/libpng/code
[submodule "external/zlib"]
	path = external/zlib
	url = https://github.com/madler/zlib.git
	ignore = dirty
[submodule "external/clipp"]
	path = external/clipp
	url = https://github.com/muellan/clipp.git
