[submodule "external/dav1d"]
	path = external/dav1d
	url = https://code.videolan.org/videolan/dav1d.git
[submodule "external/libavif-container"]
	path = external/libavif-container
	url = git@github.com:link-u/libavif-container.git
[submodule "external/tinyformat"]
	path = external/tinyformat
	url = git@github.com:c42f/tinyformat.git
[submodule "external/libyuv"]
	path = external/libyuv
	url = https://chromium.googlesource.com/libyuv/libyuv
[submodule "external/libpng"]
	path = external/libpng
	url = git://git.code.sf.net/p/libpng/code
[submodule "external/zlib"]
	path = external/zlib
	url = git@github.com:madler/zlib.git
	ignore = dirty
